*{
	margin: 0;
	padding: 0;
	font-family: arial;

}

#main{
	width: 100%;
	height: 100vh;
  background-image: url(aboutus.jpeg);
	background-size: cover;
}

nav{
	width 100%;
	height: 80px;
	background-color: #0005;
	line-height: 80px;
}

nav ul{
	float: right;
	margin-right: 30px;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	transition: 0.8s all;
}

nav ul li:hover{
	background-color: #0005;
}

nav ul li a{
	text-decoration: none;
	color: #fff;
  padding: 5px 20px;
}

nav p{
	position: fixed;
	top: 5px;
	left: 150px;
	color: #fff;
	font-size: 40px;
}

.aboutus{
  position: fixed;
  top: 160px;
  left: 160px;
}

.aboutus h1{
  color: #ffff;
  text-decoration: underline #ece84c;
}

.aboutus p{
  font-size: 16px;
  color: #eeeeee;
}
